<!-- Displays information about an account -->
<div class="card mb-4">
  <div class="card-body">
    <h4 class="card-title mb-4">Account Details</h4>

    <div class="mb-3">
      <p class="card-text mb-0">
        Account Number:
        <span class="account-number-highlight">{{ account.accountNr }}</span>
      </p>
    </div>
    <div>
      <p class="card-text mb-0">
        Account Balance:
        <span class="balance-success">{{ account.balance | currency : "EUR" }}</span>
      </p>
    </div>
  </div>
</div>
