<div class="container mt-5">
  <div
    *ngIf="isLoadingAccountDetails"
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="!isLoadingAccountDetails && account" class="account-detail">
    <app-account-info [account]="account"></app-account-info>

    <!-- Use the new account actions subcomponent -->
    <app-account-actions
      [account]="account"
      [accounts]="accounts"
      (accountUpdated)="refreshAccountDetails()"
    ></app-account-actions>

    <br />

    <app-transaction-history
      [transactions]="account.transactions"
    ></app-transaction-history>

    <div class="text-center mt-4">
      <button class="btn btn-secondary w-100" (click)="goToAccountList()">
        Back to Account List
      </button>
    </div>
  </div>
  <br />
</div>
