<div class="row">
  <!-- Deposit Section -->
  <!-- For Two-way binding used ngModel -->
  <div class="col-md-4">
    <div class="card mb-4 h-100">
      <div class="card-body d-flex flex-column">
        <h3>Deposit</h3>
        <input
          type="number"
          class="form-control mb-2"
          [(ngModel)]="depositAmount"
          placeholder="Enter amount to deposit"
          min="0"
          required
        />
        <!-- Error message for negative deposit amount -->
        <div *ngIf="depositAmount < 0" class="text-danger">
          <span>Amount must be a positive value.</span>
        </div>
        <div class="mt-auto text-center">
          <button class="btn btn-success w-100" (click)="deposit()">Deposit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Withdraw Section -->

  <div class="col-md-4">
    <div class="card mb-4 h-100">
      <div class="card-body d-flex flex-column">
        <h3>Withdraw</h3>
        <input
          type="number"
          class="form-control mb-2"
          [(ngModel)]="withdrawAmount"
          placeholder="Enter amount to withdraw"
          min="0"
          required
        />

        <!-- Error message for negative withdrawal amount -->
        <div *ngIf="withdrawAmount < 0" class="text-danger">
          <span>Amount must be a positive value.</span>
        </div>

        <!-- Error message if withdrawal exceeds balance -->
        <span *ngIf="withdrawAmount > account.balance" class="text-danger">
          Withdrawal amount exceeds current balance.
        </span>

        <div class="mt-auto text-center">
          <button class="btn btn-danger w-100" (click)="withdraw()">Withdraw</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Transfer Section -->

  <div class="col-md-4">
    <div class="card mb-4 h-100">
      <div class="card-body d-flex flex-column">
        <h3>Transfer</h3>
        <label for="targetAccount">Select Target Account:</label>
        <select
          [(ngModel)]="transferDto.targetAccountNumber"
          id="targetAccount"
          class="form-select mb-2"
          required
        >
          <option value="" selected>Select an account</option>

          <!-- Populate dropdown with available accounts -->
          <option *ngFor="let account of accounts" [value]="account.accountNr">
            {{ account.accountNr }}
          </option>
        </select>
        <input
          type="number"
          class="form-control mb-2"
          [(ngModel)]="transferDto.transferAmount"
          placeholder="Enter amount to transfer"
          min="0"
          required
        />

        <!-- Error message for negative transfer amount -->
        <div *ngIf="transferDto.transferAmount < 0" class="text-danger">
          <span>Amount must be a positive value.</span>
        </div>
        <!-- Error message if transfer exceeds balance -->
        <div *ngIf="transferDto.transferAmount > account.balance" class="text-danger">
          <span>Your transfer amount exceeds the current balance.</span>
        </div>
        <div class="mt-auto text-center">
          <button class="btn btn-primary w-100" (click)="openTransferModal()">
            Transfer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<div
  *ngIf="showModal"
  class="modal fade show"
  tabindex="-1"
  aria-labelledby="notificationModalLabel"
  style="display: block"
>
  <div class="modal-dialog custom-modal-width">
    <div class="modal-content text-center">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="notificationModalLabel">Notification</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeModal()"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="modal-body d-flex flex-column align-items-center justify-content-center"
      >
        <p>
          Are you sure you want to transfer the amount to account:
          {{ transferDto.targetAccountNumber }}?
        </p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" (click)="transfer(); closeModal()">
          Confirm
        </button>

        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Notification Modal -->
<app-notification-modal
  [message]="notificationMessage"
  [isVisible]="notificationVisible"
  (close)="closeNotification()"
></app-notification-modal>
