<div class="container mt-5">
  <h2>Account List</h2>

  <!-- Create New Account Button -->
  <div class="d-flex justify-content-center mb-4">
    <button class="btn btn-primary" (click)="showCreateAccountForm = true">
      Create New Account
    </button>
  </div>

  <!-- Display the account creation form when the button is clicked -->
  <app-account-form
    *ngIf="showCreateAccountForm"
    (accountCreated)="createAccount($event)"
  ></app-account-form>

  <!-- Account Cards -->
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let account of accounts">
      <app-account-card
        [account]="account"
        [onView]="viewAccountDetails.bind(this)"
        [onDelete]="confirmDelete.bind(this)"
      ></app-account-card>
    </div>
  </div>
</div>
